# macOS
.DS_Store

# PyCharm
.idea/

# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc

# Data
data/raw/gpt_processing.log
data/processed/llm_evaluated/
data/processed/author_level.csv
data/processed/gender_guesses.csv
data/processed/scraped_results.csv
*.jsonl
*.db
*.stswp
*.smcl

# Environment
.env

# Small Changes Script
code/small_changes.py

# Textatistic
code/hengel_replication/0-code/programs/Textatistic

# LaTeX build artifacts
outputs/replication.aux
outputs/replication.log
outputs/replication.log.bak
outputs/replication.out
outputs/replication.toc

# Original PDF
publishing_female.pdf
empirical_summary_publishing_female.txt
project_empirical_strategy.txt