# macOS
.DS_Store

# PyCharm
.idea/

# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.pyc

# Data
data/raw/gpt_processing.log
data/processed/llm_evaluated/
data/processed/author_level.csv
data/processed/gender_guesses.csv
data/processed/scraped_results.csv
*.jsonl
*.db

# Environment
.env

# Small Changes Script
code/small_changes.py

# Textatistic
code/hengel_replication/0-code/programs/Textatistic